.container {
    padding: 0 150px;
}

.text-center {
    text-align: center;
}

/* Navbar */

.nav {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

nav {}

nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
    text-transform: capitalize !important;
}

.nav-icon a img {
    padding-top: 10px;
}

nav button {
    font-size: 17px;
    background-color: #FD6F00;
    border: 0;
    padding: 10px 17px;
    color: #ffffff;
}

/* Banner */

/* Banner Left */
.banner {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.benner-left-content h3 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 900;
}

.benner-left-content p {
    font-size: 15px;
    color: #ddd;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 20px 0;
}

.benner-left-content h3 span img {
    width: 30px;
    padding: 0px 10px;
    margin-bottom: -1px;
}

.benner-left-content h3 span {
    color: #FD6F00;
}

.banner-another-text h4 {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.banner-another-text span img {
    width: 28px;
    margin-bottom: -6px;
    padding: 0 10px;
}

.banner-btn-item {
    width: 63%;
    border: 1px solid #ddd;
    border-radius: 41px;
    padding: 5px;
    background-color: #343434;
    margin-top: 30px;
}

.banner-btn-item span img {
    margin-bottom: -15px;
}

.banner-btn-item .banner-btn-1 {
    font-size: 20px;
    color: #fff;
    background-color: #FD6F00;
    border-radius: 30px;
    border: 0;
    padding: 2px 20px 12px;
}

button.banner-btn-2 {
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 20px;
    margin-left: 25px;
}

.icon-imag img {
    width: 30%;
    margin-top: 20px;
}

.main-banner {
    position: relative;
    margin-bottom: 200px;
}

.banner-last-img img {
    position: absolute;
    bottom: -150px;
}

/* Banner right */
.banner-right-image img {
    max-width: 100%;
}

.banner-another-text span img {
    width: 28px;
    margin-bottom: -6px;
    padding: 0 10px;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
}

.about-left h3 {
    font-size: 35px;
    color: #fff;
    font-weight: 800;
}

.about-left p {
    font-size: 17px;
    letter-spacing: 1px;
    color: #ddd;
    margin: 20px 0;
    text-transform: capitalize;
}

.about-right {
    text-align: right;
}

.about-right img {
    max-width: 100%;
}

.about-right h1 {
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
}

.about-right h5 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
}

/* Experience */

.experience {
    display: flex;
}

.ex-left {
    width: 40%;
}

.ex-right {
    width: 60%;
}

/* contact */



/* Footer */
.footer {
    background-color: #000000;
    padding: 120px 0;
}

.footer-logo img {
    max-width: 100%;
}

.footer-menu {
    padding: 50px 0;
}

.footer-menu a {
    font-size: 16px;
}

.footer-social img {
    max-width: 14%;
}

.copy-footer {
    background: #121212;
}

.copy-footer span {
    color: #FD6F00;
    text-transform: capitalize;
}

.copy-footer p {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    padding: 20px 0;
}